<div class="disc-list">
    {{#each discussions}}
    <div class="card">
        <img class="photo" src="https://randomuser.me/api/portraits/med/women/1.jpg" alt="p1">
        <h3 class="title">{{this.title}}</h3>
        <div class="topic">{{this.topic}}</div>
        <div class="content">
            <p class="body">{{this.body}}</p>
            {{#unless replyView}}
            <div class="date" >{{this.dateposted}}</div><!--TODO: trim date. could use string.slice(4, 15);-->
            <a class="replies" href="/discussions/replies/{{this.id}}">{{numberOfReplies}} replies</a>
            {{/unless}}
        </div>
        <!--TODO:get number of replies. could use js file?  -->
    </div>
    {{/each}}
</div>