{{#each msgs}}
    <div class="msgCard">
        <img src={{this.url}} alt='Missing Image'/>
        <span>
            <p> {{this.firstname}} {{this.lastname}} {{this.timestamp}} </p>
            <p> {{this.content}} </p>                                                            
        </span>    
    </div>
{{/each}}