<div class="main-container">

    <div class='profile-container'>
        <img src={{user.url}}>
        <h3>{{user.firstname}} {{user.lastname}}</h3>
        <p>{{user.about}}</p>

        <table>
            <tr>
                <th>Posts</th>
                <th>{{user.posts}}</th>
            </tr>
            <tr>
                <th> <a href="msg/convlist">Messages</a> </th>
                <th>{{user.messages}}</th>
            </tr>
            <tr>
                <th>Likes</th>
                <th>{{user.likes}}</th>
            </tr>
        </table>

        <br>

        <a href="/homepage/editprofile">Edit Profile</a>
    </div>

    <div class="discussion-container">

        <form class='discussion-form' action='/homepage/post' method='post'>
            <h1>what's your question today?</h1>
            <input class="input-subject" name='subject' type="text" placeholder="subject" maxlength="29" required />
            <br>
            <textarea clas"input-details" name='details' rows="4" cols="50"
                placeholder="explain in detail ...."></textarea> <br>
            <select class="input-topic" name='topic'>
                <option value="" disabled selected>topic</option>
                <!--no more than 29 characters-->
                <option>php</option>
                <option>nodejs</option>
                <option>sql</option>
                <option>java</option>
                <option>zend</option>
            </select>
            <input type='submit' value="post to timeline">
        </form>

        {{> discussions}}
        <button class="previous-btn" onclick="previouspage()"> Previous</a>
        <button class="next-btn" onclick="nextpage()"> Next</a>
    </div>


</div>