<div class="main-container">

    <div class='profile-container'>
        <div id='convList-container'>
            {{#each conversations}}
                <div class="convCard" id={{this.convid}}>
                    <img src={{this.url}} alt='Missing Image'/>
                    <span>
                        <p> {{this.firstname}} {{this.lastname}} </p>
                        <p> {{this.subject}} </p>                                                            
                    </span>                    
                </div>
            {{/each}}
        </div>
    </div>

    <div class="discussion-container">
        
        <form action='/msg/msgSend' method='post'>
            <div id="msgList-container">
                {{> msgs }}
            </div>
            <textarea name='content' placeholder='message details...'></textarea>
            <input type='hidden' name='receiverID' value={{receiverID}} />
            <button type='submit'> Test </button>
        </form>                        

    </div>

</div>

{{>footer}}