<div class="main-container">

    <div class='profile-container'>
        <div id='convList-container'>
            {{#each conversations}}
                <div class="convCard" id={{this.convid}}>
                    <img src={{this.url}} alt='Missing Image' id={{this.convid}} > </image>
                    <span id={{this.convid}}>
                        <p id={{this.convid}}> {{this.firstname}} {{this.lastname}} </p>
                        <p id={{this.convid}}> {{this.subject}} </p>                                                            
                    </span>                    
                </div>
            {{/each}}
        </div>
    </div>

    <div class="discussion-container">        
        <form action='/msg/msgSend' method='post'>
            <div id="msgList-container">
                {{> msgs }}
            </div>
            <div class='msgBox'>
                <textarea name='content' placeholder='message details...'></textarea>
            </div>
            <input type='hidden' name='receiverID' value={{receiverID}} />
            <div class='msgBox'>
                <button type='submit'> Send </button>
            </div>                                        
        </form>                        
    </div>

</div>

{{>footer}}