<div class='main-container'>

    <div class="profile-container">
        <div class="profile">
            <img src={{profile.url}}>
            <h1>{{profile.firstname}} {{profile.lastname}}</h1>
            <p>{{profile.about}}</p>
            <p>{{profile.country}}</p>
        </div>
        <div class="profile-buttons">
            <form action="/" method="get">
                <input type="submit" value="message">
            </form>

            <span>{{profile.likes}} Likes
                <form action="/profile/{{profile.id}}/like"  method="post">
                    <input type="submit" value="+">
                </form>
            </span>

            <span>{{profile.posts}} Posts</span>
        </div>

    </div>

    <div class='discussion-container'>
        {{>discussions}}
    </div>
</div>